adf/pipeline/copy_data.json
{
	"name": "copy_data",
	"properties": {
		"activities": [
			{
				"name": "Find_files_in_directory",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "yt_input_data",
						"type": "DatasetReference",
						"parameters": {
							"data_type": {
								"value": "@pipeline().parameters.data_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Copy_each_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Find_files_in_directory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Find_files_in_directory').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_yt_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false,
										"prefix": {
											"value": "@{pipeline().parameters.data_name}",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "yt_input_data",
									"type": "DatasetReference",
									"parameters": {
										"data_type": {
											"value": "@pipeline().parameters.data_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "yt_output_data",
									"type": "DatasetReference",
									"parameters": {
										"data_type": {
											"value": "@pipeline().parameters.data_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"data_name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}