adf/pipeline/main_pipeline.json
{
	"name": "main_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy data",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.directories",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run_copy_pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "copy_data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"directory": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Bronze to Silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/m.olszanski@accenture.com/YT-channels-analysis/databricks/Structurize YT Data (Bronze to Silver Layer)"
				},
				"linkedServiceName": {
					"referenceName": "mol_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver To Gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze to Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/m.olszanski@accenture.com/YT-channels-analysis/databricks/Aggregates (Silver to Gold Layer)"
				},
				"linkedServiceName": {
					"referenceName": "mol_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"directories": {
				"type": "array",
				"defaultValue": [
					"search",
					"channels",
					"videos"
				]
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"output_file_name": {
				"type": "String"
			},
			"filename_array": {
				"type": "Array"
			},
			"output_filename": {
				"type": "String"
			},
			"current_item": {
				"type": "String"
			},
			"dates": {
				"type": "Array"
			},
			"temp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}